<section class="singular_person_info">
  <img src='https://images3.alphacoders.com/690/690494.jpg' alt= "user image" class= "user_info_image" %>
  <div class="text_info">
    <h1 class="user_info_name"><%= @user.name %></h1>
    <h1 class="user_info_nop">Number Of Posts: <%= @user.posts_counter %></h1> 
  </div>
</section>